.null-state-card {
  border-radius: 0.5rem;
  padding: 3rem;
  background: var(--bg-secondary);
  color: var(--white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.null-state-card-desc {
  text-align: center;
  font-size: 1rem;
  margin: 0;
}

.null-state-card-heading {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.null-state-icon {
  min-height: 5rem;
}

@media screen and (max-width: 576px) {
  .null-state-card {
    padding: 1rem;
  }
}
