.dashboard {
  max-width: 1240px;
  width: 80%;
  padding: 2.5rem 0;
}

.weather {
  margin-top: 3rem;
}

@media screen and (max-width: 768px) {
  .dashboard {
    padding: 2rem 3rem;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
}
